.wapper_body{
    margin-top: 35px;
    margin-left: 50px;
}

.wrapper_paragraph{
    margin-left: 110px;
}

.font_dark{
    color: #222222;
}

.font_bold{
    font-weight: bold;  
}

.font_weight_500{
    font-weight: 500;
}

.font_xs{
    font-size: 11px;
}

.font_sm{
    font-size: 13px;
}

.font_m{
    font-size: 14px;
}

.font_lg{
    font-size:20px;
    font-weight: 500;
}

.font_grey{
    color: #888888;
}

.line_height{
    line-height: 22px;
}
.para_margin{
    margin-top: 20px;
}

.starRed{
    color: #C90000;
    font-weight: 700;
}

.wrapper_pic{
    margin-left: 30px;
}
.wrapper_pic img{
    height: 600px;
}

@media (max-width:991px){
    .wrapper_paragraph{
        margin-left: 0px;
    }
    .wrapper_pic{
        margin-left: 0px;
    }
}